@page "/employees"
@inject BlazorApp1.Data.IEmployeeService EmployeeService

<h3>All Employees</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td/>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
            <tr>
                <td><a href="/employee/{@employee.Id}">@employee.Id</a></td>
                <td><a href="/employee/{@employee.Id}">@employee.Name</a></td>
                <td><a href="/employee/{@employee.Id}/edit">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<BlazorApp1.Data.Employee> employees;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (EmployeeService != null)
            employees = EmployeeService.GetEmployees();
    }
}
